.modal-screen {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal-screen.active {
    opacity: 1;
    pointer-events: all;
}

.modal-screen__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}