* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9E6E6;
    /*height: 2000px;*/
}

#root {
    width: 100%;
}

.App {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    width: 1140px;
    display: flex;
    flex-direction: column;
}