html {
  min-height: 100vh;
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {

}

.btn:focus {
  box-shadow: none !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

footer {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  background: royalblue;
  bottom:0;
}
